<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <meta name="title" content="<%=title %>"/>
  <meta name="description" content="<%=description %>"/>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container battery display-4 text-center py-4">
          AMARON BATTERY
        </div>
        <div class="container shadow-lg">
          <div class="row">
            <div class="col-md-5">
              <img
                alt="car battery replacement sharjah"
                class="img-fluid batteryProd lazyload"
                src="img/product2.webp"
              />
              <smal class="small d-flex justify-content-end">
                Sold By hakstime
              </smal>
            </div>
            <div class="col-md-5">
              <div class="col-md-12">
                <h1 class="heading">Amaron</h1>
              </div>
              <div class="col-md-12">
                <span class="label label-primary">Amaron Brand Name</span>
                <span class="monospaced">No. 00001</span>
              </div>
              <div class="col-md-12">
                <span
                  class="glyphicon glyphicon-star glyph"
                  aria-hidden="true"
                ></span>
                <span
                  class="glyphicon glyphicon-star glyph"
                  aria-hidden="true"
                ></span>
                <span
                  class="glyphicon glyphicon-star glyph"
                  aria-hidden="true"
                ></span>
                <span
                  class="glyphicon glyphicon-star glyph"
                  aria-hidden="true"
                ></span>
                <span
                  class="glyphicon glyphicon-star-empty glyph"
                  aria-hidden="true"
                ></span>
              </div>
              <div class="col-md-12">
                <p class="smal">
                  <span class="label label-success">In Stock</span>
                </p>
                <a
                  href="/contact"
                  rel="noopener noreferrer"
                  title="car battery replacement dubai and sharjah"
                  target="_newtab"
                >
                  <button type="button" class="btn  btn-success btn-lg">
                    ORDER NOW
                  </button>
                </a>
              </div>
              <div class="col-md-12 pt-4">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a
                      class="nav-item nav-a active"
                      id="nav-home-tab"
                      data-toggle="tab"
                      href="#nav-home"
                      title="car battery replacement"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                    >
                      Description
                    </a>
                    <a
                      class="nav-item nav-a"
                      id="nav-profile-tab"
                      data-toggle="tab"
                      href="#nav-profile"
                      title="sharjah battery replacement"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                    >
                      Feature
                    </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane active"
                    id="nav-home"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    Amaron is the only battery that contains the patented Silven
                    X alloy. And that's what gives it the power to last long,
                    really long.
                  </div>
                  <div
                    class="tab-pane fade"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                  >
                    highest cranking power, vibration resistance, high heat
                    tolerance, highest reserve capacity and patented BIC vents
                    for enhanced safety.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="col-md-12 pt-1">Other Battery List</div>
              <div class="col-md-12">
                <a
                  href="/solite-battery"
                  title="car battery replacement dubai and sharjah"
                >
                  <img
                    src="img/product4.webp"
                    alt="car battery change dubai"
                    class="img-fluid spanbattery lazyload"
                  />
                </a>
              </div>

              <div class="col-md-12">
                <a
                  href="/acdelco-battery"
                  title="car battery replacement dubai and sharjah"
                >
                  <img
                    src="img/product1.webp"
                    alt="car battery replacement sharjah"
                    class="img-fluid spanbattery lazyload"
                  />
                </a>
              </div>
              <div class="col-md-12">
                <a
                  href="/varta-battery"
                  title="car battery replacement dubai and sharjah"
                >
                  <img
                    src="img/product3.webp"
                    alt="car battery change dubai"
                    class="img-fluid spanbattery lazyload"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
  <%- include('partials/footer'); %>
</body>
</html>