<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <meta name="title" content=<%=title %>/>
  <meta name="description" content=<%=description %>/>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1 class="blog-heading text-center">
        All you need to know about car battery
        </h1>
        <img
          alt="battery replacement sharjah"
          class="img-fluid blog-img lazyload"
          width="100%"
          src="img/blackcar.jpg"
        />
        <hr />
        <div class="sharethis-inline-share-buttons"></div>
        <p class="blog-paragraph-heading">

        </p>
        <ol>
          <li class="blog-list-heading">Do's and Dont's inside the car during pandemic</li>
          <p class="blog-paragraph-heading">
            Donot use wet cloth to sanitize your car. Rather use damp cloth to clean your car as it is easy to use. Donot open your car window until and unless it is necessary in order to reduce the possibilty od spread of virus from outside the car. Use sticky notes to show message to people outside the car. To read more about how to sanitize your car during pandemic, <a href="/tips_to_sanitize_your_car_during_covid_19">click here.</a>
          </p>
          <li class="blog-list-heading">When will your car battery die</li>
          <p class="blog-paragraph-heading">
           It is very important to know when your car battery wears off because it gives your an awareness of when to change your battery before it stops you to the middle of the road. It generally takes about 3.5 years for your battery to wear off. To know more about When will your car battery die, <a href="/how_to_know_if_your_car_battery_is_dying">click here.</a>
          </p>
          <li class="blog-list-heading">
            Don't use tap water to refill your battery
          </li>
          <p class="blog-paragraph-heading">
          Tap water is not processed. It may contain some minerals or ions or other impurities which may damage your battery. Thus resulting in reduce of lifespan of your battery. So use demenaralized water for your battery. Because it is processed well and it is deactivated of all the mineral it contains. You can also use deionised water. No need to panic if you see that you dont find demineralized water but only find deionized water. Deionized water is also safer to refill the battery.

          </p>
          <li class="blog-list-heading">
            Find the CCA(Cold Cranking Amps) of your battery
          </li>
          <p class="blog-paragraph-heading">
         The car battery with more CCA, has high chance of starting the engine very soon than the car battery which has less CCA value. So when buying battery make sure that your battery has a good cold cranking Amp value.
          </p>
          <li class="blog-list-heading">Brand of your car battery, Warranty, Manufacturing date</li>
          <p class="blog-paragraph-heading">
          It is necessary to know the brand of your car battery because certain car fits to certain types of car battery. And also it is important to know the warranty because generally the car battery has life span upto 3.5 years. So if your car battery is dying in very short period of time, it must be your car battery service provider has put a car battery with fault. In such case claim your warranty. It is necessary to know the car battery because if old battery are installed in your car, there might be the chance that it has a corroded terminal.
          </p>
          <li class="blog-list-heading">
            Battery types
          </li>
          <p class="blog-paragraph-heading">
            Car battery are of AGM types or of EFB types. Some other batteries are mostly the variation of lead acid batteries. It works by chemical reaction between lead plates, sulphuric acid and distilled water to create electrical power.
          </p>
          <li class="blog-list-heading">
            Know about our service
          </li>
          <p class="blog-paragraph-heading">
            It is not recommended to change your car battery all by yourself taking in account the battery that is being fixed, the vulnerable damage that may be caused due to wrong placement at a moment. <a href="tel:971551478994">Call us</a> or <a
              href="https://api.whatsapp.com/send?phone=971551478994"
              title="WhatsApp us for car battery replacement in dubai and sharjah"
            >
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
              WhatsApp
            </a> , we are available at anytime at DUBAI and SHARJAH.

          </p>

        </ol>
      </div>
      <%- include('partials/BlogSidebar'); %>
    </div>
  </div>
  <%- include('partials/footer'); %>
</body>
</html>