<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <meta name="title" content=<%=title %>/>
  <meta name="description" content=<%=description %>/>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1 class="blog-heading text-center">
          How to know if your car battery is dying
        </h1>
        <img
          alt="car battery replacement dubai"
          class="img-fluid blog-img lazyload"
          src="img/speedometer.webp"
        />
        <hr />
        <div class="sharethis-inline-share-buttons"></div>
        <ol>
          <li class="blog-list-heading">Dimming of headlights</li>
          <p class="blog-paragraph-heading">
            When your car battery is about to loose all it charge, it
            shows a dimming of light as a warning. Change the car battery
            at this stage, because if it is further delayed it results in
            bad smell which may cause still more pollution to the
            environment.
          </p>
          <li class="blog-list-heading">
            Battery connectors are corroded
          </li>
          <p class="blog-paragraph-heading">
            The battery terminals are made of lead metal. Though the lead
            is the highly corrosion resistant metal, it is highly toxic if
            it starts to corrode after long time. It is toxic to human. So
            when battery metals corrode, replace the battery as soon. It
            probably takes more than or equal to 3.5 years for a car
            battery to corrode.
          </p>

          <li class="blog-list-heading">
            Car makes a sound when turning on the engine
          </li>
          <p class="blog-paragraph-heading">
            Another sign that your car battery is dying is that it makes
            an unusual beep sound when turning on the car engine. Thus
            indicating that you must change the battery. This is the
            beginning warning that your battery is dying.
          </p>
          <li class="blog-list-heading">
            Your car battery is more than 3.5 years
          </li>
          <p class="blog-paragraph-heading">
            Mark the date of buying your car battery. Be alarmed if it is
            more than three and a half year since you changed your car
            battery. We are available on
            <a
              href="https://api.whatsapp.com/send?phone=971551478994"
              title="WhatsApp us for car battery replacement in dubai and sharjah"
            >
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
              WhatsApp
            </a>
          </p>
          <li class="blog-list-heading">Bad smells</li>
          <p class="blog-paragraph-heading">
            This is final warning sign that your car battery is already
            dead. Keep track of the above warning signs before it comes to
            this warning sign. Because bad smell pollutes the air and
            causes suffocation for asthmatic patients.
          </p>
        </ol>
      </div>
      <%- include('partials/BlogSidebar'); %>
    </div>
  </div>
  <%- include('partials/footer'); %>
</body>
</html>