<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <meta name="title" content="<%=title %>"/>
  <meta name="description" content="<%=description %>"/>
  <%- include('partials/head'); %>
</head>
<body>
  <%- include('partials/navbar'); %>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 pt-3">
        <div class="card">
          <img src="img/product1.webp" class="lazyload" alt="car battery replacement in dubai" />
          <div class="card-body">
            <h5 class="card-title">ACDELCO</h5>
            <a
              href="tel:971551478994"
              class="btn btn-danger btn-lg"
              title="acdelco battery replacement in dubai and sharjah"
            >
              CALL NOW >>
            </a>
            <a href="/acdelco-battery" title="acdelco battery replacement in dubai and sharjah">
              <div class="text-center">
                <p class="paragraph">Read >></p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 pt-3">
        <div class="card">
          <img
              alt="car battery dubai"
              class="card-img-top lazyload"
              src="img/product2.webp"
            />
          <div class="card-body">
            <h5 class="card-title">AMARON</h5>
            <a
              href="tel:971551478994"
              class="btn btn-danger btn-lg"
              title="car battery replacement dubai"
            >
              CALL NOW >>
            </a>
            <a href="/amaron-battery" title="amaron battery replacement in dubai and sharjah">
              <div class="text-center">
                <p class="paragraph">Read >></p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 pt-3">
        <div class="card">
          <img
              alt="car battery replacement sharjah"
              class="card-img-top lazyload"
              src="img/product3.webp"
            />
          <div class="card-body">
            <h5 class="card-title">VARTA</h5>

            <a
              href="tel:971551478994"
              class="btn btn-danger btn-lg"
              title="varta battery replacement in dubai and sharjah"
            >
              CALL NOW >>
            </a>
            <a href="/varta-battery" title="car battery near me">
              <div class="text-center">
                <p class="paragraph">Read >></p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 pt-3">
        <div class="card" style="width: 18rem;" >
          <img
              alt="car battery replacement dubai"
              class="card-img-top"
              src="img/product4.webp"
            />
          <div class="card-body">
            <h5 class="card-title">SOLITE</h5>

            <a
              href="tel:971551478994"
              class="btn btn-danger btn-lg"
              title="solite"
            >
              CALL NOW >>
            </a>
            <a href="/solite-battery" title="car battery near me">
              <div class="text-center">
                <p class="paragraph">Read >></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer'); %>
</body>
</html>